.FOTOS {align-items: center;}

.TITULO {font-size: 120; padding-left: 0.5%; top: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;}


.FOTO1 
{top: 5px;
    padding-left:  0.5%;
height: 70%;}

    .FOTO2 
    {
        padding-left: 0.5%;
        height: 70%;}

    .FOTO3
    {
    padding-left:  0.5%;
    height: 70%;}

    .FOTO4 
    {
        padding-left:  0.5%;
        height: 70%;}

